.puzzlebutton{
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 50px;
    font-weight: bold;
}
.qubutton {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 40px;
    font-weight: bold;
}
.puzzlebutton1 {
    background: url("../../assets/images/WoodenDice1.png") no-repeat 0 0 transparent;
}
.puzzlebutton2 {
    background: url("../../assets/images/WoodenDice2.png") no-repeat 0 0 transparent;
}
.puzzlebutton3 {
    background: url("../../assets/images/WoodenDice3.png") no-repeat 0 0 transparent;
}
.puzzlebutton4 {
    background: url("../../assets/images/WoodenDice4.png") no-repeat 0 0 transparent;
}
