.grid{
    width: 100%;
}
.gridrow{
    width: 100%;
}
.score{
    float: right;
    font-size: 2em;
    padding-right: .5em;
}
.timer{
    float: left;
    font-size: 2em;
    padding-left: .5em;
}
.puzzle5button{
    display: inline-block;
    width: 17vw;
    height: 17vw;
    font-size: 11.2vw;
    font-weight: bold;
}
.qu5button {
    display: inline-block;
    width: 17vw;
    height: 17vw;
    font-size: 7.1vw;
    font-weight: bold;
}
.puzzle4button{
    display: inline-block;
    width: 23vw;
    height: 23vw;
    font-size: 16vw;
    font-weight: bold;
}
.qu4button {
    display: inline-block;
    width: 24vw;
    height: 24vw;
    font-size: 10vw;
    font-weight: bold;
}
.puzzlebutton1 {
    background: url("../../assets/images/WoodenDice1.png") no-repeat 0 0 transparent;
    background-size: contain;
}
.puzzlebutton2 {
    background: url("../../assets/images/WoodenDice2.png") no-repeat 0 0 transparent;
    background-size: contain;
}
.puzzlebutton3 {
    background: url("../../assets/images/WoodenDice3.png") no-repeat 0 0 transparent;
    background-size: contain;
}
.puzzlebutton4 {
    background: url("../../assets/images/WoodenDice4.png") no-repeat 0 0 transparent;
    background-size: contain;
}

@media only screen and (min-width: 768px){
    .puzzleheader{
        width:500px;
    }
    .score{
        float: right;
        font-size: 2em;
    }
    .timer{
        float: left;
        font-size: 2em;
    }
    .puzzledetail{
        width: 500px;
        float: left;
    }
    .grid{
        width: 100%;
    }
    .gridrow{
        width: 100%;
    }
    .puzzle5button{
        display: inline-block;
        width: 90px;
        height: 90px;
        font-size: 60px;
        font-weight: bold;
    }
    .qu5button {
        display: inline-block;
        width: 90px;
        height: 90px;
        font-size: 39px;
        font-weight: bold;
    }
    .puzzle4button{
        display: inline-block;
        width: 120px;
        height: 120px;
        font-size: 80px;
        font-weight: bold;
    }
    .qu4button {
        display: inline-block;
        width: 120px;
        height: 120px;
        font-size: 50px;
        font-weight: bold;
    }
}
