.wordlist {
    column-count: auto;
    column-fill: balance;
}
.word{
    width: 5em;
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
}
.notfailed {
}
.failed {
    background-color: yellow;
}
